 .card{
     width: 45%;
    border: solid 1px black;
     margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
 }

 .input{
    &-search {
        width: 100%;
    }
    &-button {
        width: 100%;
    }
}
.row-format{
    margin-bottom: 5%;
    margin-top: 5%;
}

.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #921515;
    
}
.card-button{
    width: 100%;
}