<nav class="navbar navbar-dark bg-dark">
    <div class="container">
       <div><h5 class="text-white h4">Game of thrones</h5></div>
        <div class="pos-f-t">
            
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <ul >

                    <li><a href="#" class="text-white">About Us </a></li>
                    <li> <a href="#"  class="text-white">Contact Us</a></li>
                  </ul>
                  
                 
                </div>
              </div>
          </div>
    </div>
</nav>
