<nav class="[ navbar navbar-dark bg-dark ]">
    <div class="[ container ]">
       <div><h5 class="[ text-white h4 ]"><a class="navbar-brand" href="dashboard">Game of thrones</a></h5></div>
        <div class="[ pos-f-t ]">
            
            <nav class="[ navbar navbar-dark bg-dark ]">
              <button class="[ navbar-toggler ]" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="[ navbar-toggler-icon ]"></span>
              </button>
            </nav>


          </div>
    </div>
</nav>
<div class="container">
<div class="[ collapse ]" id="navbarToggler">
    <div class="[ pos-f-t ]">
        <a href="dashboard" class="dropdown-item myDropDown">Dashboard </a><br>
        <a href="about" class="dropdown-item myDropDown">About Us </a><br>
        <a href="contact"  class="dropdown-item myDropDown">Contact Us</a>
    </div>
</div>
</div>

<!-- <div class="dropdown">
    <nav class="[ navbar navbar-dark bg-dark ]">
        <button class="[ navbar-toggler ]" type="button" data-toggle="collapse" data-target="#dropdownMenu2" aria-controls="dropdownMenu2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="[ navbar-toggler-icon ]"></span>
        </button>
        </nav> 

    <div class="dropdown-menu" id="dropdownMenu2" aria-labelledby="dropdownMenu2">
        <a href="about" class="dropdown-item">About Us </a><br>
        <a href="contact"  class="dropdown-item">Contact Us</a>
    </div>
  </div> -->
  